@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

/* width */
.slides::-webkit-scrollbar {
  width: 12px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
.slides::-webkit-scrollbar-thumb:hover {
  background: #555;
}